@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'KCC-Ganpan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: #fbfbfb;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Pretendard';
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fbfbfb;
  justify-content: space-between;
  opacity: .8;
  overflow-y: hidden;
  padding: 0.5rem 5rem 0.5rem 5rem;
  width: 100%;
  height: 82px;
  z-index: 1000;
}

.head-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.head-table {
  display: table;
}

.head-title {
  width: 566px;
  display: table-cell;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 82px;
}

.head-title .logo-img {
  max-width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
  position: absolute;
}

.head-title .title-container {
  padding: 0 8px;
}

.logo-txt {
  background-color: initial;
  font-weight: 400;
  font-size: 1.875rem;
  margin: 0;
  font-family: 'KCC-Ganpan';
  color: #0c800c;
}

.logo-txt:hover {
  color: #0c800c;
}

.navbar {
  width: 594px;
  font-size: .9625rem;
  display: table-cell;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 82px;
  text-align: right;
}

.nav-button {
  display: inline-block;
}

.nav-button-left {
  background-color: initial;
  border: none;
  border-bottom: 3px solid transparent;
  color: #19A654;
  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 1.25rem;
  /* margin-left: 1.25rem; */
  padding: 0.5rem;
  transition: .3s ease;
}

.nav-button-right {
  background-color: initial;
  border: none;
  border-bottom: 3px solid transparent;
  color: #19A654;
  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 1.25rem;
  padding: 0.5rem;
  transition: .3s ease;
}

.nav-button-left:hover, .nav-button-right:hover {
  border-bottom: 3px solid #19A654;
  color: #19A654;
}

a {
  color: #19A654;
}

a:visited {
  color: #19A654;
}